<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}"></li>
        <li th:if="${user.email}" th:text="${user.email}"></li>
        <li th:if="${user.email == null}" th:text="${'No tiene email'}"></li>
    </ul>
    <a th:href="@{/list}">Go to list</a></br>
    <a th:href="@{/api/params/request?message=Hi, how are you}">Go to Message</a></br>
    <a th:href="@{/api/params/request(message= 'Hi, how are you')}">Go to Message 2</a></br>
    <a th:href="@{/api/params/bar(text='Hi how are you', code=12312)}">Go to Message 3</a></br>
    <a th:href="@{'/api/var/onePath/' + ${title}}">Go to Message 4</a></br>
    <a th:href="@{'/api/var/onePath/' + 'Hi everyone'}">Go to Message 5</a></br>
</body>
</html>